<style>
  @import url('https://fonts.googleapis.com/css2?family=Copse&family=Courier+Prime&family=Damion&family=Volkhov&family=Yesteryear&display=swap');
  </style>

<div class="Ra" routerLink="/firstpage">Rahele</div>
<div class="line"></div>
<div class="Web">Web Developer</div>
<hr class="a" />
<nav>
<div class="AB" routerLink="/About">About</div>
</nav>
<hr class="b" />
<div class="Po" routerLink="/portfolio">Portfolio</div>
<hr class="c" />
<div class="Bl" routerLink="/blog">Blog</div>
<hr class="d" />
<div class="con" routerLink="/contact">Contact</div>
<div class="ht">
  <p>&lt;html&gt;</p>
  <p>&lt;body&gt;</p>
  <p>&lt;h1&gt;</p>
  </div>

<div class="am">Contact me:</div>
<div class="h1">
  <p>&lt;/h1&gt;</p>
</div>

  <div class="p">&lt;h1&gt;</div>
<div class="myemail">rahilmoshkani@gmail.com</div>

<div class="zp">&lt;/h1&gt;</div>
<div class="pbh">
  <p>&lt;/body&gt;<br><br>&lt;/html&gt;</p>
</div>
