body {
  background-color: hsla(270, 76%, 43%, 0.12);
  overflow: hidden;
}
.line {
  border: 1px solid;
  height: 100%;
  position: absolute;
  left: 347px;
  margin-left: -3px;
  top: 0;
}
hr.a {
  border: 1px solid;
  width: 12.4%;
  margin-left: 0px;
  margin-top: 110px;
}
hr.b {
  border: 1px solid;
  width: 12.4%;
  margin-left: 0px;
  margin-top: 100px;
}
hr.c {
  border: 1px solid;
  width: 12.4%;
  margin-left: 0px;
  margin-top: 100px;
}
hr.d {
  border: 1px solid;
  width: 12.4%;
  margin-left: 0px;
  margin-top: 100px;
}
.Ra {
  padding: 2px;
  font-family: Damion;
  cursor: pointer;

  font-size: 116px;

  align-items: left;

  color: #000000;
  text-shadow: 2px 2px #4068f8;
  line-height: 80px;
  padding-top: 100px;
}
.Ra:hover {
  text-shadow: 2px 2px rgb(126, 245, 90);
}
.Web {
  padding: 10px;
  font-family: Copse;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  height: 1px;
  padding-left: 50px;
  line-height: 100px;
  visibility: unset;
  cursor: pointer;
}

.AB {
  font-family: Courier Prime;
  font-size: 60px;

  line-height: 80px;
  padding-left: 50px;
  padding-top: 30px;
  height: 30px;
  cursor: pointer;
  color: #000000;
}
.AB:hover{
  color: rgb(42, 100, 25);
}
.Po {
  font-family: Courier Prime;
  font-size: 60px;

  text-align: left;
  line-height: 80px;
  padding-left: 10px;
  padding-top: 50px;
  height: 30px;
  cursor: pointer;

}
.Po:hover{
  color: rgb(42, 100, 25);
}
.Bl {
  font-family: Courier Prime;
  font-size: 60px;

  line-height: 80px;
  padding-left: 50px;
  padding-top: 30px;
  height: 30px;
  cursor: pointer;
}
.Bl:hover{
  color: rgb(42, 100, 25);
}
.con {
  font-family: Courier Prime;
  font-size: 60px;

  line-height: 80px;
  padding-left: 50px;
  padding-top: 30px;
  height: 30px;
  cursor: pointer;
}
.con:hover{
  color: rgb(42, 100, 25);
}

.ht {
  line-height: 43px;
  position: absolute;
  margin-left: 395px;
  top: 30px;
  width: 830px;
  font-family: Yesteryear;
  font-style: normal;
  font-weight: normal;
  font-size: 37px;

  line-height: 115%;
  align-items: center;
  color: rgba(0, 0, 0, 0.25);
}
.me {
  position: absolute;
  width: 830px;
  height: 1190px;
  left: 395px;
  top: -50px;
  font-family: Copse;
  font-style: normal;
  font-weight: normal;
  font-size: 104px;
  line-height: 115%;
  display: flex;
  align-items: center;
  color: #000000;
}
.h1 {
  position: absolute;
  width: 830px;
  height: 1600px;
  left: 1130px;
  top: -50px;
  font-family: Yesteryear;
  font-style: normal;
  font-weight: normal;
  font-size: 37px;

  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.25);
}
.p {
  position: absolute;
  margin-left: 395px;
  top: 750px;
  width: 830px;
  font-family: Yesteryear;
  font-style: normal;
  font-weight: normal;
  font-size: 37px;
  display: flex;

  line-height: 115%;
  align-items: center;
  color: rgba(0, 0, 0, 0.25);
}
.w {
  position: absolute;
  width: 830px;
  height: 1324px;
  left: 395px;
  top: 220px;
  font-family: Copse;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 115%;
  display: flex;
  align-items: center;
  color: #000000;
}
.pbh {
  line-height: 43px;
  position: absolute;
  margin-left: 395px;
  top: 920px;
  width: 830px;
  font-family: Yesteryear;
  font-style: normal;
  font-weight: normal;
  font-size: 37px;

  line-height: 115%;
  align-items: center;
  color: rgba(0, 0, 0, 0.25);
}
.ax {
  position: absolute;
  width: 800px;
  height: 600px;
  left: 1400px;
  top: 200px;
}
.lang{

  width: 150px;
  height: 35px;
  font-size: 25px;
  color:#4068f8 ;
  left: 10px;
}
