.hht {
  line-height: 43px;
  position: absolute;
  margin-left: 5px;
  top: 3px;
  width: 830px;
  font-family: Yesteryear;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;

  line-height: 115%;
  align-items: center;
  color: rgba(0, 0, 0, 0.25);
}
.favoritss {
  position: absolute;
  width: 1047px;
  height: 1255px;
  left: 9px;
  top: 200px;

  font-family: Volkhov;
  font-style: normal;
  font-weight: normal;
  font-size: 110px;
  line-height: 115%;
  color: #000000;
}
.h1 {
  position: absolute;
  width: 830px;
  height: 1600px;
  left: 700px;
  top: -520px;
  font-family: Yesteryear;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.25);
}
.ppbh {
  line-height: 43px;
  position: absolute;
  margin-left: 5px;
  top: 290px;
  width: 830px;
  font-family: Yesteryear;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;

  line-height: 115%;
  align-items: center;
  color: rgba(0, 0, 0, 0.25);
}
.cook {
  background: rgba(151, 151, 151, 0.13);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 700px;
  width: 2000px;

  margin: 20% 2% -18% 8%;

  flex: 30%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 100%;
  height: 85%;
  object-fit: cover;
}
.cr {
  text-align: left;
  margin: -40px 20px;
  width: 190px;

  font-size: 25px;

}
.fa {
  font-size: 30px;
  color: rgb(250, 11, 11);
  margin-top: -90px;
  float: left;

  margin-left:500%;

  text-shadow: 2px 2px 2px 2px rgb(2, 20, 29);
}
