body {
  background-color: hsla(270, 76%, 43%, 0.12);

}
.line {
  border: 1px solid;
  height: 100%;
  position: absolute;
  left: 347px;
  margin-left: -3px;
  top: 0;

}
hr.a {
  border: 1px solid;
  width: 12.4%;
  margin-left: 0px;
  margin-top: 110px;
}
hr.b {
  border: 1px solid;
  width: 12.4%;
  margin-left: 0px;
  margin-top: 100px;
}
hr.c {
  border: 1px solid;
  width: 12.4%;
  margin-left: 0px;
  margin-top: 100px;
}
hr.d {
  border: 1px solid;
  width: 12.4%;
  margin-left: 0px;
  margin-top: 100px;
}
.Ra {
  font-family: Damion;

  font-size: 96px;

  align-items: left;

  color: #000000;
  text-shadow: 2px 2px #1035b8;
}
.Web {
  font-family: Copse;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  height: 0px;
}
.AB {
  font-family: Courier Prime;
  font-size: 60px;

  line-height: 80px;
  padding-left: 50px;
  padding-top: 30px;
  height: 30px;
}
.Po {
  font-family: Courier Prime;
  font-size: 60px;

  text-align: left;
  line-height: 80px;
  padding-left: 10px;
  padding-top: 50px;
  height: 30px;
}
.Bl {
  font-family: Courier Prime;
  font-size: 60px;

  line-height: 80px;
  padding-left: 50px;
  padding-top: 30px;
  height: 30px;
}
.con{
  font-family: Courier Prime;
  font-size: 60px;


  line-height: 80px;
  padding-left: 50px;
  padding-top: 30px;
 height: 30px;
}

.ht{

  line-height: 43px;
 position: absolute;
  margin-left: 395px;
top:50px ;
width:830px ;
font-family: Yesteryear;
font-style: normal;
font-weight: normal;
font-size: 37px;

line-height: 115%;
align-items: center;
color: rgba(0,0,0,0.25);
}
.me{
  position: absolute;
  width: 830px;
  height: 1150px;
  left: 395px;
  top:1px;
  font-family: Copse;
  font-style: normal;
  font-weight: normal;
  font-size: 104px;
  line-height: 115%;
  display: flex;
  align-items: center;
  color: #000000;
}
